body{
background: #F5F5F5;
font-family : Roboto,sans-serif;

color : rgba(0,0,0,0.6);
margin:0;
  

}

a {

	color: inherit;
}
.lespubli{

  margin-left: 30px;
  
  width:506px;
}
.lesprofile{

  margin-left: 20px;
  
  width:100px;
}

.topbar a {
	text-decoration: none;
}
.topbar {

 background: #2C2222;
 color :#FFF;

}
.poster{
  background-color: #ddd;
border-style: double;
border-width: 2px;
width: 500px;
}
.titreposte{




}

.topbar-logo {
    display : block;
	font-size: 22px;
    text-align: center;
    padding: 11px 0;
}

.topbar_nav{
	text-align: center;
    font-size: 15px;
	padding-bottom: 16px;
	line-height: 2;
}

 .posttext{
  resize: none;
  width:500px;
 }
.topbar_nav a {

   display: inline-block;
   margin: 0 12px;
   color: rgba(255,255,255,0.67);
}
.topbar_nav a:hover,
.topbar_nav a.active {
	color :#FFF;
}

.container {
	padding: 0 15px;
}
  .postcomm{
  resize: none;
  width:400px;
  height:65px;
 }
  .uncommentaire{
  
 }
 .containerpost{
  margin-top: 12% ;

  margin-right: 15%;
  margin-left: 10%;

}
.filactu {

margin-left: 10%;

}
 .changerbio{
   resize:none;
   width: 300px;
   height: 200px;
 }

    .containerparam1{

    border-style: groove;
    width : 300px; 
    height:350px; 
  }
      .containerparam2{

    border-style: groove;
    width : 400px; 
    height:150px;
  }
    .proftxt1{





margin-left: 5%;
margin-top: 30px;

 }

  .voirami{
  margin-left: 9px;
  width:85px;
  height:30px;
}
  .bio{
      
border-style: groove;
border-width: 2px;
width: 250px;
height: 150px;
margin-left: 88px;
margin-top: 55px;

  }
   .posts{
    
    margin-left: 20px;
    margin-right: 20px;
    width: 506px;


 }

    .posts2{
    
    margin-left: 20px;
    margin-right: 20px;
    width: 506px;


 }
 .publication{
  
  background-color: white;
  border-style : groove;
  width:450px;
  
 }


@media only screen and (min-width: 1061px) {
  .requetesamis{

    width:500px;
  }

  .containerparam{

    margin-left:35%;
  }

  .bio{
      
border-style: groove;
border-width: 2px;
width: 250px;
height: 150px;
margin-left: 88px;
margin-top: 55px;

  }
  .changerpseudo{

    resize:none;
    width:365px;
    height:60px;

  }
  .commenter{
    resize=none;
    width:;


  }
 .changerbio{
   resize:none;
   width:400px;
   height:209px;
 }
    .containerparam1{

    border-style: groove;
    width : 400px; 
    height:400px;
  }
      .containerparam2{

    border-style: groove;
    width : 400px; 
    height:150px;
  }
  .filactu {


  margin-left: 40%
}
.topbar{
	   display : flex;
    justify-content: space-between;
    align-items: center;
    height : 64px ;
    padding: 0 25px;

 }
 .uncommentaire{
   
 }
 .supprpub{
  margin-left:70%; 
 }
 .estami{

   margin-left: 50px;
   width:100px;
    
 }

 .posttext{
  resize: none;
  width:500px;
 }
  .postcomm{
  resize: none;
  width:450px;
  height:65px;
 }
 .poster{
margin-top: 55px;
margin-left: 12px;
background-color: #ddd;
border-style: groove;
border-width: 2px;
width: 500px;
 
 }
 h1{

  margin-left: 10%;
 }

 .ami{

margin-left:50%;
 }
 .mesamis{

  margin-left: 50%;
  margin-top: 20px; 
 }
 .proimg{

border-style: solid;
border-width: 2px;
width: 300px;
height: auto;
margin-left: 5%;
margin-top: 30px;

 }
 .titreposte{
 position:relative;
 top :-600px;
 left:500px;
 width:300px;
  
}

 .titreposte2{
 position:relative;
 top : -330px;
 left:500px;
 width:500px;
 height: 100px;
  
}

  .proftxt1{
   margin-left:50px;
   width:400px;
   height:34px;

}


.posts2{
    position: relative;
    top: -350px;
    left: 600px;
    width: 506px;


 }


 
 .posts{
    position: relative;
    top: -555px;
    left: 600px;
    width: 506px;


 }
 .publication{
  position: inherit;
  background-color: white;
  border-style : groove;
  width:450px;
  
 }

 .topbar-logo,.topbar_nav {
 	padding : 0;
 	
 }

 .topbar_nav a {

 	margin: 0 20px;
 }

.containerpost{
  margin-top: 12% ;
  margin-right: 25%;
  margin-left: 35%;
 

}
.voirami{
  margin-left: 9px;
  width:85px;
  height:30px;
}
.voirreq{
 
  margin-left: 9px;
  width:125px;
  height:30px;

}
.lesprofile{

  margin-left: 500px;
  
  width:100px;
}
.lespubli{

  margin-left: 400px;
  
  width:506px;
}